Repository walterra/astro-photostream: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: expand demo changeset description
  .changeset/demo-fetch-photos.md
Due: prettier --write

fix(cli): correct build output path for binary installation
  .changeset/fix-cli-build-path.md
  package.json
Due: prettier --write

docs: add conventional commit format requirements
  CLAUDE.md
Due: prettier --write

refactor(integration): replace dynamic imports with virtual imports
  .changeset/layout-wrapper-virtual-imports.md
  src/index.ts
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
Due: eslint --fix, prettier --write

chore: simplify changeset description format
  .changeset/fix-cli-build-path.md
Due: prettier --write

fix(integration): reorder route injection for pagination priority
  .changeset/fix-pagination-route-priority.md
  spec/todos/done/2025-09-02-21-57-34-investigate-photos-page-2-error.md
  src/index.ts
Due: eslint --fix, prettier --write

docs: enhance playwright mcp browser session management
  CLAUDE.md
Due: prettier --write

fix(integration): resolve route conflicts with dynamic paths
  .changeset/fix-route-conflicts-dynamic-paths.md
  CLAUDE.md
  spec/project-description.md
  src/index.ts
  src/routes/photos/[...page].astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].astro
Due: eslint --fix, prettier --write

fix(components): correct mapimage props in photo routes (#11)
  .changeset/fix-mapimage-component-props.md
  spec/todo.md
  spec/todos/work/2025-09-02-23-43-46-fix-github-issue-11/task.md
  src/index.ts
  src/routes/photos/[slug].astro
  src/routes/photos/[slug].content.astro
Due: eslint --fix, prettier --write

fix(cli): preserve nested directory paths in coverimage src
  .changeset/fix-nested-directory-paths.md
  src/scripts/photo-metadata-generator.ts
Due: eslint --fix, prettier --write

fix(cli): resolve gps extraction and geocoding issues
  .changeset/fix-gps-extraction-cli.md
  demo/astro-photostream.config.js
  demo/scripts/fetch-photos.ts
  package.json
  pnpm-lock.yaml
  src/scripts/photo-metadata-generator.ts
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

fix(components): fix multimarkermap static map rendering
  .changeset/fix-multi-marker-map.md
  src/components/MultiMarkerMap.astro
Due: prettier --write

refactor(components): improve map styling and remove fixed height prop
  .changeset/improve-multi-marker-map.md
  README.md
  docs/API.md
  src/components/MultiMarkerMap.astro
  src/components/PhotoStream.astro
  src/routes/photos/[...page].astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/tags/[tag]/[...page].astro
  src/routes/photos/tags/[tag]/[...page].content.astro
  src/types.ts
Due: eslint --fix, prettier --write

fix(components): remove redundant location headers and counts
  .changeset/remove-location-headers.md
  src/routes/photos/[...page].astro
  src/routes/photos/[...page].content.astro
Due: prettier --write

fix(components): remove redundant page info from headers
  .changeset/fix-gallery-header-redundancy.md
  src/routes/photos/[...page].astro
  src/routes/photos/[...page].content.astro
Due: prettier --write

fix: remove duplicate page numbers in pagination
  .changeset/fix-duplicate-pagination-numbers.md
  src/components/PhotoStream.astro
  src/routes/photos/[...page].content.astro
Due: prettier --write

docs: complete thumbnail optimization task
  spec/todos/done/2025-09-02-23-43-46-fix-github-issue-11.md
Due: prettier --write

docs: add route consolidation task documentation
  spec/todos/work/2025-09-04-10-45-08-consolidate-route-duplication/task.md
Due: prettier --write

refactor: consolidate route duplication with shared components
  .changeset/refactor-route-consolidation.md
  spec/todos/work/2025-09-04-10-45-08-consolidate-route-duplication/task.md
  src/components/PhotoDetailContent.astro
  src/components/PhotoGalleryContent.astro
  src/components/SeoHead.astro
  src/components/TagPageContent.astro
  src/routes/photos/[...page].astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].astro
  src/routes/photos/[slug].content.astro
  src/utils/pagination.ts
  src/utils/photo-data.ts
  src/utils/seo.ts
Due: eslint --fix, prettier --write

refactor(components): consolidate tag route duplication
  .changeset/consolidate-route-duplication.md
  spec/todos/done/2025-09-04-10-45-08-consolidate-route-duplication.md
  src/routes/photos/tags/[tag]/[...page].astro
  src/routes/photos/tags/[tag]/[...page].content.astro
Due: prettier --write

docs: move completed todo tasks to done directory
  spec/todos/done/2025-08-22-14-34-00-demo-photo-fetch-script.md
  spec/todos/done/2025-08-22-14-58-17-plain-demo-setup.md
  spec/todos/done/2025-08-30-21-05-25-astro-theme-integration.md
  spec/todos/work/2025-08-22-10-29-37-astro-photo-stream-extension/task.md
Due: prettier --write

fix: static map generation with proper marker style and resolution
  .changeset/fix-static-map-generation.md
  src/components/MapImage.astro
  src/components/PhotoDetailContent.astro
Due: prettier --write

fix(utils): improve tag sanitization in metadata generation
  .changeset/fix-tag-sanitization.md
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

fix(components): move map caption outside shadow container
  .changeset/fix-map-caption.md
  src/components/MultiMarkerMap.astro
  src/components/PhotoGalleryContent.astro
  src/types.ts
Due: eslint --fix, prettier --write

refactor: remove photostream header and cleanup console logs
  .changeset/fix-map-caption-drop-shadow.md
  src/components/PhotoStream.astro
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

style(components): tighten spacing and padding for gallery
  .changeset/spacing-improvements.md
  src/components/PhotoGalleryContent.astro
  src/components/PhotoStream.astro
Due: prettier --write

refactor(components): simplify photo gallery page description
  src/components/PhotoGalleryContent.astro
Due: none

refactor(components): convert photogallerycontent to use aps css
  src/components/PhotoGalleryContent.astro
Due: none

style(components): tighten spacing and padding for gallery
  .changeset/spacing-improvements.md
Due: prettier --write

refactor(components): add aps-content-container for layout wrapper
  .changeset/layout-wrapper-container.md
  src/routes/photos/tags/[tag]/[...page].content.astro
  src/styles/aps-core.css
Due: prettier --write

fix(components): remove horizontal padding for alignment
  .changeset/align-component-padding.md
  src/components/PhotoGalleryContent.astro
  src/components/PhotoStream.astro
Due: prettier --write

refactor(components): convert components to aps- css framework
  .changeset/convert-components-to-aps-framework.md
  src/components/Paginator.astro
  src/components/PhotoDetailContent.astro
  src/components/PhotoStream.astro
  src/components/TagPageContent.astro
Due: prettier --write

refactor(components): convert to aps- css framework with improved spacing (#15)
  .changeset/align-component-padding.md
  .changeset/convert-components-to-aps-framework.md
  .changeset/layout-wrapper-container.md
  .changeset/spacing-improvements.md
  src/components/Paginator.astro
  src/components/PhotoDetailContent.astro
  src/components/PhotoGalleryContent.astro
  src/components/PhotoStream.astro
  src/components/TagPageContent.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
  src/styles/aps-core.css
Due: prettier --write

fix(components): remove double main tag in layout wrapper mode
  .changeset/fix-layout-wrapper-double-main.md
  demo/src/layouts/Layout.astro
  src/components/PhotoDetailContent.astro
  src/components/PhotoGalleryContent.astro
  src/components/TagPageContent.astro
  src/routes/photos/[...page].astro
  src/routes/photos/[slug].astro
  src/routes/photos/tags/[tag]/[...page].astro
Due: prettier --write

refactor(components): remove related photos section
  .changeset/remove-related-photos.md
  src/components/PhotoDetailContent.astro
  src/routes/photos/[slug].astro
  src/routes/photos/[slug].content.astro
  src/utils/photo-data.ts
  src/utils/photos.ts
Due: eslint --fix, prettier --write

fix(components): eliminate grid dead zones at tablet breakpoints
  .changeset/fix-responsive-grid-breakpoints.md
  src/styles/aps-core.css
Due: prettier --write

ci: add dependabot cooldown for supply chain protection
  .github/dependabot.yml
Due: none

docs: fix grammar in conversational style section
  CLAUDE.md
Due: prettier --write

docs: restructure todo list and track ci workflow task
  spec/todo.md
  spec/todos/work/2025-10-10-11-59-55-create-basic-first-ci-check/task.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js}
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: *.{ts,js})) or (any of: src/**/*.{json,md})) or (any of: *.{json,md})
