Repository walterra/astro-photostream: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: move read hooks task to done status
  spec/todos/done/2025-08-28-18-26-54-read-hooks-implement.md
Due: prettier --write

feat(demo): add creative commons photo fetch script
  .changeset/demo-fetch-photos.md
  demo/README.md
  spec/todos/work/2025-08-22-14-34-00-demo-photo-fetch-script/task.md
  src/types.ts
  src/utils/config.ts
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

feat(demo): add Creative Commons photo fetch script (#2)
  .changeset/demo-fetch-photos.md
  demo/README.md
  spec/todos/work/2025-08-22-14-34-00-demo-photo-fetch-script/task.md
  src/types.ts
  src/utils/config.ts
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

docs: update build commands from pnpm build to pnpm build:cli
  README.md
  demo/README.md
  demo/src/pages/index.astro
  spec/project-description.md
  spec/todo.md
  spec/todos/work/2025-08-28-20-01-29-fix-photo-grid-layout/task.md
Due: prettier --write

refactor: simplify photogrid to use tailwind classes
  src/components/PhotoGrid.astro
Due: none

refactor: improve photocard with image optimization and layout
  src/components/PhotoCard.astro
Due: none

docs: update photo grid layout task with progress notes
  spec/todos/work/2025-08-28-20-01-29-fix-photo-grid-layout/task.md
Due: prettier --write

fix: complete photo grid responsive layout and rounded corners
  spec/todos/work/2025-08-28-20-01-29-fix-photo-grid-layout/task.md
  src/components/PhotoCard.astro
  src/components/PhotoGrid.astro
Due: prettier --write

docs: create changeset and mark photo grid task as done
  .changeset/fix-photo-grid-layout.md
  spec/todos/done/2025-08-28-20-01-29-fix-photo-grid-layout.md
Due: prettier --write

docs: rename changeset file to more descriptive name
  .changeset/git-hooks.md
Due: prettier --write

fix: photo grid responsive layout for mobile screens (#4)
  .changeset/fix-photo-grid-layout.md
  .changeset/git-hooks.md
  README.md
  demo/README.md
  demo/src/pages/index.astro
  spec/project-description.md
  spec/todo.md
  spec/todos/done/2025-08-28-20-01-29-fix-photo-grid-layout.md
  src/components/PhotoCard.astro
  src/components/PhotoGrid.astro
Due: prettier --write

fix: typescript compilation errors in core integration files
  .changeset/fix-typescript-compilation.md
  spec/todos/done/2025-08-30-20-36-32-fix-typescript-compilation.md
  src/index.ts
  src/schema.ts
  src/utils/config.ts
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

fix: typescript compilation errors in core integration files (#5)
  .changeset/fix-typescript-compilation.md
  spec/todos/done/2025-08-30-20-36-32-fix-typescript-compilation.md
  src/index.ts
  src/schema.ts
  src/utils/config.ts
  src/utils/metadata.ts
Due: eslint --fix, prettier --write

feat: implement layout wrapper system for route templates
  src/index.ts
  src/layouts/MinimalLayout.astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
  src/types.ts
  src/utils/layout-wrapper.ts
Due: eslint --fix, prettier --write

docs: add layout wrapper documentation and changeset
  .changeset/astro-theme-integration.md
  spec/project-description.md
Due: prettier --write

fix: improve layout wrapper path resolution and error handling
  demo/astro.config.mjs
  spec/todos/work/2025-08-30-21-05-25-astro-theme-integration/task.md
  src/index.ts
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
Due: eslint --fix, prettier --write

refactor: replace tailwind with scoped css in content templates
  spec/todos/work/2025-08-30-21-05-25-astro-theme-integration/task.md
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
Due: prettier --write

fix(components): remove double pagination and set default to 12 items
  src/components/PhotoStream.astro
  src/routes/photos/[...page].content.astro
  src/types.ts
Due: eslint --fix, prettier --write

style(components): standardize css classes with aps- prefix
  src/components/MapImage.astro
  src/components/PhotoCard.astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
Due: none

refactor: replace tailwind with custom css grid classes
  src/components/PhotoGrid.astro
Due: none

refactor: consolidate components to use shared css design system
  src/components/MapImage.astro
  src/components/PhotoCard.astro
  src/components/PhotoGrid.astro
  src/components/PhotoStream.astro
  src/styles/aps-core.css
Due: none

feat: add astro theme integration with flexible layout system (#6)
  .changeset/astro-theme-integration.md
  demo/astro.config.mjs
  spec/project-description.md
  spec/todos/work/2025-08-30-21-05-25-astro-theme-integration/task.md
  src/components/MapImage.astro
  src/components/PhotoCard.astro
  src/components/PhotoGrid.astro
  src/components/PhotoStream.astro
  src/index.ts
  src/layouts/MinimalLayout.astro
  src/routes/photos/[...page].content.astro
  src/routes/photos/[slug].content.astro
  src/routes/photos/tags/[tag]/[...page].content.astro
  src/styles/aps-core.css
  src/types.ts
  src/utils/layout-wrapper.ts
Due: eslint --fix, prettier --write

feat: optimize navigation thumbnails with astro assets
  src/routes/photos/[slug].content.astro
Due: none

docs: add task documentation for thumbnail fix
  spec/todos/work/2025-09-01-22-58-58-fix-broken-thumbnails/task.md
Due: prettier --write

docs: move thumbnail task to done
  spec/todos/done/2025-09-01-22-58-58-fix-broken-thumbnails.md
Due: prettier --write

docs: update project documentation with navigation optimization
  CLAUDE.md
  spec/project-description.md
Due: prettier --write

chore: add changeset and repo review documentation
  .changeset/fix-photo-navigation-thumbnails.md
  spec/todos/done/2025-08-30-20-18-40-repo-review-astro-photostream.md
Due: prettier --write

docs: add review and update todo with thumbnail progress
  spec/REVIEW-2025-08-30.md
  spec/todo.md
Due: prettier --write

docs: update readme with improved layout and organization
  README.md
Due: prettier --write

ci: add automated release workflow
  .github/workflows/release.yml
Due: none

chore: configure pnpm workspace packages
  pnpm-workspace.yaml
Due: none

chore: update lockfile for workspace configuration
  pnpm-lock.yaml
Due: none

ci: enhance release workflow with permissions and pnpm
  .github/workflows/release.yml
Due: none

ci: update pnpm action version and add install step
  .github/workflows/release.yml
Due: none

ci: complete release workflow with changesets action
  .github/workflows/release.yml
Due: none

ci: add version packages script and update workflow
  .github/workflows/release.yml
  scripts/version-packages.js
Due: prettier --write

fix: use pnpm for changeset version in script
  scripts/version-packages.js
Due: prettier --write

ci: add dynamic version detection for pr titles
  .github/workflows/release.yml
Due: none

ci: improve version detection with error handling
  .github/workflows/release.yml
Due: none

chore: format changeset files
  .changeset/astro-theme-integration.md
  .changeset/demo-fetch-photos.md
  .changeset/fix-photo-grid-layout.md
  .changeset/fix-photo-navigation-thumbnails.md
  .changeset/fix-typescript-compilation.md
  .changeset/git-hooks.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js}
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: *.{ts,js})) or (any of: src/**/*.{json,md})) or (any of: *.{json,md})
